
QDialog#LoginDialog,#RegisterDialog{
background-color:rgb(255,255,255)
}

#user_label,#pass_label{
color:black;
}

/* 设置不同状态显示不同颜色的提示 */
#err_tip[state='normal']{
   color: green;
}

#err_tip[state='err']{
   color: red;
}
